{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Welcome to my homepage!</h1>
  <p>I would love to hear from you! Please submit a message and I will get back to you ASAP.</p>
  <p><a href="{% url 'message_create' %}" class="btn btn-lg btn-primary">Submit message</a></p>
</div>
<div class="About Me">
  <h1>About Me</h1>
  <p>From: Hamden, CT</p>
  <p>Birthday: August 2, 1994</p>
  <p>Zodiac Sign: Leo</p>
  <p>Grade: Senior</p>
  <p>Major: Computer Information Systems</p>
</p>
</div>
{% endblock %}